@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
  body {
 	font-size: 20.0pt;
     margin: 0px;
     padding: 0px;
     background-color:yellow;
     color:white;
  }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  body {
 	font-size: 25.0pt;
     margin: 0px;
     padding: 0px;
     background-color:pink;
     color:white;
  }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  body {
 	font-size: 25.0pt;
     margin: 0px;
     padding: 0px;
     background-color:blue;
     color:white;
  }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  body {
 	font-size: 30.0pt;
     margin: 0px;
     padding: 0px;
     background-color:red;
     color:white;
  }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
  body {
 	font-size: 14.0pt;
     margin: 0px;
     padding: 0px;
     background-color:green;
     color:white;
  }

}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
  body {
 	font-size: 14.0pt;
     margin: 0px;
     padding: 0px;
     background-color:orange;
     color:white;
  }

}  
